%nav.navbar.navbar-expand-lg.bg-light
  .container-fluid
    %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarNav", "data-bs-toggle" => "collapse", :type => "button"}
      %i.fa-solid.fa-burger
    .collapse.navbar-collapse#navbarSupportedContent
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          .nav-link.admin-pages
            = link_to('Home', root_path(locale: I18n.locale))
        - navigation_items.each do |item|
          %li.nav-item
            .nav-link.admin-pages= item
      .d-flex.admin-pages.navbar-nav
        - language_selection(target: target).each do |language|
          .nav-link= language.html_safe
