.section.music-player.sound
  .music-player--banner
  .music-player--main
    .music-player--progress
      %progress.progress--progress-bar{:max => "100", :value => "43"}
      .progress--time
        1:37
      .progress--time.progress--time__end
        3:52
    .music-player--controls
      %i.fa.fa-pause.controls--play-button
      .song-info
        .song-info--title
          FREEE
        .song-info--artist
          Laura Robles
      .controls--actions
        %i.fa.fa-retweet.actions--repeat
        %i.fa.fa-backward.actions--back
        %i.fa.fa-forward.actions--forward