.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About', '#')
          = link_to('Projects', '#')
          = link_to('Contact', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section
            .hero-image
          %section
            TEST
          %section
            %h1 Music
