.start-section
  .navigation
    #paper-back
      %nav
        .close
          = link_to('Music', '#')
          = link_to('About me', '#')
    #paper-window
      #paper-front
        .hamburger
          %span
        #container
          %section
            .hero-image
            %h1
              Page Tilt Menu Effect
          %section
            TEST
          %section
            %h1 Music
