/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
/* custom fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* definition of variables */
$primary-color: black;
$secondary-color: white;


/* general styles */
body { 
  overflow-x: hidden;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

/**********************/
/**** Admin pages ****/
/**********************/

.admin-pages-section {
  padding-top: 50px;
}

/***************/
/* navigation */
/**************/

.admin-pages a {
  text-decoration: none;
  color: $primary-color;
}

