/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

/* definition of variables */
$primary-color: black;


/* general styles */


/*****************+**/
/**** Landing view **/
/*****************+**/

/* hero image section */
.start-section {
  width: 100%;
  height: 0;
  background: image-url('laura-hero-start-desktop.svg') no-repeat;
  background-size: contain;
  padding-bottom: 72.2%; /* ((img-height:1265 / img-width:1752) *  container-width) */
}

.language-selection {
  position: fixed;
  top: 30px;
  right: 10px;
  a {
    text-decoration: none;
    color: black;
    filter: drop-shadow(1px 1px 1px white);
  }
}


/* social media icons */
.social-media {
  position: fixed;
  top: 20%;
  right: 10px;
  z-index: 10;
  a {
    text-decoration: none;
    color: black;
    filter: drop-shadow(1px 1px 1px white);
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: column;
    /* animation styles */
    --fa-animation-duration: 5s;
    --fa-flip-x: .5;
    --fa-flip-y: 0;
  }
}

/***********************/
/* Navigation styling */
/***********************/

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 33px;
  nav {
    padding: 120px 34px;
    a {
      display: block;
      margin-top: 30px;
      margin-bottom: 25px;
      text-decoration: none;
      color: rgba(white, 0.7);
    }
  }
}

//prevents the scrolling when the menu is open
#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative; 
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  
  &.tilt {
    overflow: hidden;
    pointer-events: none;
    #paper-front { transform: rotate(10deg) translateZ(0); }
  }
}

//this is what actually rotates
#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 20px rgba(black, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 20px;
  left: 15px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;
  span {
    position: relative;
    
    &, &:before, &:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: $primary-color;
      /*border-radius: 2px;
      border:  1px solid white;*/
      filter: drop-shadow(1px 1px 1px white)  /* highlight hamburger menu on black background */
    }
    
    &:before, &:after {
      content: '';
      position: absolute;
    }
    &:before { bottom: -14px; }
    &:after { bottom: -28px; }
    
  }
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  
  &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 45px;
      height: 6px;
      top: 30%;
      background-color: white;
      border-radius: 2px;
    }
    &:before { transform: translateY(-50%) rotate(45deg); }
    &:after { transform: translateY(-50%) rotate(-45deg); }
}


/************************/
/**** Video section *****/
/************************/

.video-section {
  background: $primary-color;
  height: 100vh;
}

/* video slider */
@keyframes tonext {
  75% {
    left: 0;
  }
  95% {
    left: 100%;
  }
  98% {
    left: 100%;
  }
  99% {
    left: 0;
  }
}

@keyframes tostart {
  75% {
    left: 0;
  }
  95% {
    left: -300%;
  }
  98% {
    left: -300%;
  }
  99% {
    left: 0;
  }
}

@keyframes snap {
  96% {
    scroll-snap-align: center;
  }
  97% {
    scroll-snap-align: none;
  }
  99% {
    scroll-snap-align: none;
  }
  100% {
    scroll-snap-align: center;
  }
}

* {
  box-sizing: border-box;
  scrollbar-color: transparent transparent; /* thumb and track color */
  scrollbar-width: 0px;
}

*::-webkit-scrollbar {
  width: 0;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
}

* {
  -ms-overflow-style: none;
}

ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.carousel {
  position: relative;
  padding-top: 40%; /* position of navigation dots*/
  filter: drop-shadow(0 0 10px #0003);
  perspective: 100px;
}

/* define size and location of slider */
.carousel__viewport {
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 20%;
  left: 25%;
  display: flex;
  overflow-x: scroll;
  counter-reset: item;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 50%;
  background-color: gray; 
  counter-increment: item;
}

.carousel__slide:before {
  content: counter(item);
  position: absolute;
  top: 50%;
  left: 50%;
  /*transform: translate3d(-50%,-40%,70px);*/
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  scroll-snap-align: center;
}

@media (hover: hover) {
  .carousel__snapper {
    animation-name: tonext, snap;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  }

  .carousel__slide:last-child .carousel__snapper {
    animation-name: tostart, snap;
  }
}

@media (prefers-reduced-motion: reduce) {
  .carousel__snapper {
    animation-name: none;
  }
}

.carousel:hover .carousel__snapper,
.carousel:focus-within .carousel__snapper {
  animation-name: none;
}

/* navigation dots */
.carousel__navigation {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.carousel__navigation-list,
.carousel__navigation-item {
  display: inline-block;
}

/* navigation dots style */
.carousel__navigation-button {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: lightblue;
  background-clip: content-box;
  border: 0.25rem solid transparent;
  border-radius: 50%;
  font-size: 0;
  transition: transform 0.1s;
}

.carousel::before,
.carousel::after,
.carousel__prev,
.carousel__next {
  position: absolute;
  top: 0;
  margin: 20% 20% 0 20%; /* position of the nav arrows */
  width: 4rem;
  height: 4rem;
  transform: translateY(-50%);
  border-radius: 50%;
  font-size: 0;
  outline: 0;
}

.carousel::before,
.carousel__prev {
  left: -1rem;
}

.carousel::after,
.carousel__next {
  right: -1rem;
}

.carousel::before,
.carousel::after {
  content: '';
  z-index: 1;
  background-color: red;
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fff;
  font-size: 2.5rem;
  line-height: 4rem;
  text-align: center;
  pointer-events: none;
}

/* symbol of the nav arrow */
.carousel::before {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='0,50 80,100 80,0' fill='%23fff'/%3E%3C/svg%3E");
}

.carousel::after {
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='100,50 20,100 20,0' fill='%23fff'/%3E%3C/svg%3E");
}








/***********************************+*/
/**** MOBILE *************************/
/***********************************+*/

@media (max-width: 768px) {
  .start-section {
    background: image-url('laura-hero-start-mobile.svg') no-repeat;
    background-size: contain;
    padding-bottom: 121.68%; /* ((img-height:1693 / img-width:1383) *  container-width) */
  }

}