/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
/* custom fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* definition of variables */
$primary-color: black;
$secondary-color: white;


/* general styles */
body { 
  overflow-x: hidden;
  color: $primary-color;
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

/* responsiveness styles */
.mobile {
  display: none;
}

.desktop {
  display: block;
}


/*****************+**/
/**** Landing view **/
/*****************+**/

/* hero image section */
.start-section {
  /* responsive background image */
  width: 100%;
  height: 0;
  background: image-url('laura-hero-start-desktop.svg') no-repeat;
  background-size: contain;
  padding-bottom: 72.2%; /* ((img-height:1265 / img-width:1752) *  container-width) */
}

.language-selection {
  z-index: 999;
  position: fixed;
  top: 30px;
  right: 10px;
  a {
    text-decoration: none;
    color: black;
    filter: drop-shadow(.5px 1px .5px white);
    /*text-shadow: 
      -0.5px 0.5px 0 white,
      0.5px 0.5px 0 white,
      0.5px -0.5px 0 white,
      0.5px -0.5px 0 white;*/
  }
}

/* social media icons */
.social-media {
  position: fixed;
  top: 20%;
  right: 10px;
  z-index: 999;
  a {
    text-decoration: none;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-flow: column;
    /* add shadow around icons */
    filter: drop-shadow(0.5px 1px 0.5px white);
    /* animation styles */
    --fa-animation-duration: 5s;
    --fa-flip-x: .5;
    --fa-flip-y: 0;
  }
}

/***********************/
/* Navigation styling */
/***********************/

#paper-back {
  width: 100%;
  height: 100vh;
  background-color: $primary-color;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 33px;
  nav {
    padding: 120px 34px;
    a {
      display: block;
      margin-top: 30px;
      margin-bottom: 25px;
      text-decoration: none;
      color: rgba(white, 0.7);
    }
  }
}

//prevents the scrolling when the menu is open
#paper-window {
  height: 100vh;
  width: 100vw;
  position: relative; 
  overflow-x: hidden;
  overflow-y: scroll;
  z-index: 2;
  
  &.tilt {
    overflow: hidden;
    pointer-events: none;
    #paper-front { transform: rotate(10deg) translateZ(0); }
  }
}

//this is what actually rotates
#paper-front {
  pointer-events: auto;
  position: relative;
  z-index: 3;
  background-color: white;
  box-shadow: 0 0 20px rgba(black, 0.7);
  transform-origin: center 70%;
  transition: all 0.3s ease;
}

.hamburger {
  position: fixed;
  z-index: 4;
  top: 20px;
  left: 15px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  user-select: none;
  span {
    position: relative;
    
    &, &:before, &:after {
      display: block;
      width: 45px;
      height: 6px;
      background-color: $primary-color;
      /* highlight hamburger menu on black background */
      filter: drop-shadow(0.5px 1px 0.5px white)
    }
    
    &:before, &:after {
      content: '';
      position: absolute;
    }
    &:before { bottom: -14px; }
    &:after { bottom: -28px; }
    
  }
}

.close {
  position: fixed;
  top: 30px;
  left: 30px;
  width: 45px;
  height: 34px;
  cursor: pointer;
  
  &:before, &:after {
      content: '';
      position: absolute;
      display: block;
      width: 45px;
      height: 6px;
      top: 30%;
      background-color: white;
      border-radius: 2px;
    }
    &:before { transform: translateY(-50%) rotate(45deg); }
    &:after { transform: translateY(-50%) rotate(-45deg); }
}


/************************/
/**** Video section *****/
/************************/

.video-section {
  position: relative;
  background: $primary-color;
  padding: 15vh 0 5vh 0;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

#video-header {
  position: absolute;
  top: 10%;
  left: 5vw;
  transform: rotate(-20deg);
}

#laura-portrait-video {
  position: absolute;
  width: 25vw;
  bottom: 10vh;
  right: 0;
}

.full-height {
  min-height: 100vh;
}
.over-hide {
  overflow: hidden;
}

.padding-tb {
  padding: 100px 0;
}

[type="radio"]:checked,
[type="radio"]:not(:checked){
  position: absolute;
  left: -9999px;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  margin-right: 6px;
  margin-left: 6px;
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid $secondary-color;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  animation: border-transform 6s linear infinite alternate forwards;
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

/* add instrument icons to video slider */
.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  color: $secondary-color;
  text-align: left;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 10;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.bg-cajon {
  background: image-url('video-icons/cajon');
}

.bg-bass {
  background: image-url('video-icons/bass.jpg');
}

.checkbox:checked + label {
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.3);
  transform: scale(1.3);
    -webkit-animation-play-state: running;
    -moz-animation-play-state: running;
    animation-play-state: running;
}
@keyframes border-transform {
  0%,100% { border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%; } 
  14% { border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%; } 
  28% { border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%; } 
  42% { border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%; } 
  56% { border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%; } 
  70% { border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%; } 
  84% { border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%; } 
}

.slider-height-padding {
  z-index: 2;
  padding-top: 440px;
}

.video-wrapper {
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.video-section ul {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
}
.video-section ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 400px;
  border: 5px solid $secondary-color;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2.7;
  color: #343434;
  writing-mode: vertical-rl;
  opacity: 0;
  pointer-events: none;
  box-shadow: 0 8px 25px 0 rgba(16,39,112,.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.checkbox.frst:checked ~ ul li:nth-child(1) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.scnd:checked ~ ul li:nth-child(2) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.thrd:checked ~ ul li:nth-child(3) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}
.checkbox.foth:checked ~ ul li:nth-child(4) {
  opacity: 1;
  pointer-events: auto;
  border-radius: 16px;
}

@media (max-width: 767px) {
  .slider-height-padding {
    padding-top: 340px;
  }
  ul li {
    height: 300px;
    font-size: 13px;
    letter-spacing: 1px;
  }
}

@media (max-width: 575px) {
  .slider-height-padding {
    padding-top: 240px;
  }
  ul li {
    height: 200px;
  }
}

/***********************/
/*** News section *****/
/**********************/

.news-section {
  position: relative;
  background-color: $secondary-color;
}

#down-looking-face {
  position: absolute;
  top: 0;
  left: 10vw;
  width: 40vw;
  img {
    width: 100%;
  }
}

.news-section-content {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: space-between;
}

#news-headline-section {
  z-index: 10;
}

#news-content-elements {
  position: relative;
}

#updates-wrapper {
  margin-top: 22vh;
  margin-left: 10vw;
  width: 70vw;
  .headline {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
  }
}

span.day {
  font-size: 1em;
  font-family: serif;
  font-weight: bold;
}

span.month {
  font-size: 1.2em;
  font-weight: lighter;
}

span.year {
  font-size: 1.5em;
  font-weight: bolder;
  font-style: italic;
}


/*Instagram embbed styles */
.instagram-content-wrapper {
  margin-left: 4vw; /* to fit the mask better */
  float: right;
  height: 80%;
  width: auto;
  transform: rotate(10deg);
  shape-outside: polygon(20% -0%, 100% 0%, 100% 120%, -30% 110%);
  padding: 5px;
  z-index: 9;
}

.contact-button {
  margin: 10vh 0 5vh 10vw;
  a img {
    width: 25vw;
  }
}

#animated-text {
    position: absolute;
    margin: auto;
    width: 20vw;
    height: 30pt;
    top: 70%;
    bottom: 0;
    left: 5%;
    filter: url(#threshold) blur(0.3px);
}

#text1,
#text2 {
    position: absolute;
    width: 100%;
    display: inline-block;
    font-size: 30pt;
    font-family: "Caveat", cursive;
    text-align: center;
    user-select: none;
}

svg#filters {
  display: none;
  height: 0;
}


/**********************/
/**** ABOUT section *****/
/**********************/

.about-section {
  background: black;
  height: 100%;
  /*padding-bottom: 80vh;*/
  position: relative;
}

.about-mobile-bg {
  display: none;
}

.about-desktop-bg {
  display: block;
  background: image-url('atardecer.jpg') no-repeat;
  width: 100%;
  height: 0;
  background-size: cover;
  padding-bottom: 93.66%; /* ((img-height:1265 / img-width:1752) *  container-width 100) */
}

.about-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
}

#about-text-part1 {
  width: 40vw;
  color: $primary-color;
  background: rgba(255,255,255,.8);
  padding: 5px;
  margin: 60% 0 0 5vh;
  z-index: 11;
}
#about-text-part2 {
  position: relative;
  margin: 55% 5vw 5vh 0;
  width: 35vw;
  color: $secondary-color;
  background: $primary-color;
  p {
    z-index: 10;
  }
}

.text-highlight {
  font-size: 1.5em;
  font-family: fantasy;
  font-weight: bold;
}

.about-section-heading {
  position: absolute;
  bottom: 1%;
  right: 3%;
  z-index: 1;
  img {
    z-index: 1;
  }
}

/**********************/
/**** image section ***/
/**********************/

.images-section {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}


.bass-button {
  width: 20vw;
  margin: 0 10vw;
}

.icon {
  position: relative;
}
.second-row-part1 {
  background-color: $primary-color;
  height: 30vh;
}
.second-row-part2 {
  background-color: $secondary-color;
  height: 30vh;
}
.cajon-button {
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  width: 35vw;
}
.image-cajon-player {
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  transform: rotate(10deg);
}

.row-first {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background: $primary-color;
  height: 60vh;
}

/* parallax */
#scene {
  width: 60vw;
  z-index: 2;
}
.inferno-wrapper-parallax #scene img {
  height: 100%;
  width: 100%;
}


/***********************************+*/
/**** MOBILE *************************/
/***********************************+*/

@media (max-width: 768px) {
  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  #paper-window, #paper-front {
    background-color: $primary-color;
  }

  .start-section {
    background: image-url('laura-hero-start-mobile.svg') center center no-repeat;
    height: 90vh;
    background-size: cover;
    margin-top: 10vh;
  }

  .video-section {
    padding: 0;
  }

  #video-header {
    position: absolute;
    top: 5%;
    left: 0;
    transform: rotate(-10deg);
    width: 100vw;
  }

  #laura-portrait-video {
    position: absolute;
    width: 60vw;
    bottom: -10vh;
    right: 0;
    z-index: 1;
    transform: rotate(10deg);
  }

  .slider-height-padding {
    padding-top: 65vh;
  }

  .news-section-content {
    flex-direction: column-reverse;
    align-content: flex-start;
    justify-content: flex-start;
    img {
      margin-top: 10vh;
      width: 100%;
    }
  }

  .news-content {
    display: flex;
    flex-direction: column-reverse;
  }

  #updates-wrapper {
    margin-top: 0;
    margin-left: 10vw;
    width: 80vw;
  }

  #down-looking-face {
    width: 60vw;
    position: absolute;
    top: 25%;
    left: -20vw !important;
    margin: 0;
    padding: 0;
    height: 20vw;
    transform: rotate(-90deg) scaleX(-1);
  }

  /*Instagram embbed styles */
  .instagram-content-wrapper {
    margin-left: 0;
    float: none;
    height: 80%;
    width: auto;
    transform: rotate(3deg);
    shape-outside: none;
    padding: 5px;
  }

  .contact-button {
    width: 80vw;
    margin: 10vh 10vw;
    align-content: center;
    a img {
      width: 100%;
      margin: 0;
    }
  }

  .about-section {
    height: 100%;
    padding-bottom: 10vh;
  }

  .about-desktop-bg {
    display: none;
  }

  .about-mobile-bg {
    display: block;
    background: image-url('atardecer.jpg') no-repeat;
    width: 100%;
    height: 0;
    background-size: cover;
    padding-bottom: 93.66%; /* ((img-height:1265 / img-width:1752) *  container-width 100) */
  }

  .about-text-wrapper {
    position: inherit;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  #about-text-part1 {
    width: 80%;
    padding: 0;
    margin: 5vh 10vw;
    color: $secondary-color;
    background-color: $primary-color;
  }

  #about-text-part2 {
    margin: 0 10vw;
    width: 80%;
  }

  .about-section-heading {
    position: absolute;
    bottom: -10vh;
    left: 0;
    img {
      width: 90vw;
    }
  }

}